@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/*HEX => RGB*/
/*
primaryBackground #ffffff => 255 255 255
secondaryBackground #d1d5db => 209 213 219
#767676 => 118 118 118
primaryTextColor #282828 => 40 40 40
primaryAccentColor #ea580c => 234 88 12
#FFFD84 => 255 255 216
*/

@layer base {
	:root {
		--color-primaryBackground: 255 255 255;
		--color-secondaryBackground: 209 213 219;

		--color-primaryTextColor: 40 40 40;
		--color-secondaryTextColor: 118 118 118;
		--color-thirdTextColor: 118 118 118;

		--color-primaryAccentColor: 234 88 12;
		--color-secondaryAccentColor: 255 255 216;

		--color-sectionTitleColor: 255 255 255;
		--color-iconColor: 255 255 255;

		--color-primaryScrollbarTrack: 40 40 40;
		--color-primaryScrollbarThumb: 255 255 50;

		--swiper-pagination-color: #ea580c;
		--swiper-navigation-color: #ea580c;

		--font-mono: ui-monospace, Melno, Monaco, Consolas, 'Coscadia Mono', 'Roboto Mono',
			'Oxygen Mono', 'Ubuntu Monosapce', 'Fira Mono', 'Droid Sans Mono', 'Courier Nem' monospace;
	}
}

@layer components {
	.nav {
		@apply relative 
		hover:text-white hover:fill-orange-600
		focus:text-white focus:fill-orange-600
		transition-all
		duration-300;
	}
	.nav::after {
		@apply content-[''] 
		bg-orange-600 
		h-[3px] 
		w-0 
		left-0 
		-bottom-1 
		rounded-xl 
		absolute 
		transition-all
		duration-300;
	}
	.nav:hover::after {
		@apply w-full;
	}
	.nav:focus::after {
		@apply w-full;
	}

	.swiper {
		@apply mx-0
			!important;
	}
	.swiper-slide {
		@apply mr-0
      !important;
	}
	.swiper-button-next,
	.swiper-button-prev {
		@apply w-0
    !important;
	}
	.swiper-button-next::after,
	.swiper-button-prev::after {
		@apply content: ""
		text-[rgb(234,88,12)]
    text-base
    !important;
	}
	.swiper-button-next.swiper-button-disabled,
	.swiper-button-prev.swiper-button-disabled {
		@apply opacity-0;
	}
}
