
	/* .swiper-button-next,
	.swiper-button-prev {
		@apply bg-[white] text-[red] px-4 py-2 rounded-[100%] border-2 border-solid border-[black];
	} */
	/* .swiper-button-next,
	.swiper-button-prev {
		position: absolute;
		top: 50%;
	}
	.swiper-button-next::after,
	.swiper-button-prev::after {
		position: absolute;
		content: '';
		width: 0;
		height: 0;
		border-style: solid;
		top: -50%;
	}

	.swiper-button-prev {
		left: 25px;
	}

	.swiper-button-next {
		right: 25px;
	}

	.swiper-button-next::after {
		border-width: 16px 0 16px 20px;
		border-color: transparent transparent transparent #ea580c;
		left: 100%;
	}

	.swiper-button-prev::after {
		border-width: 16px 20px 16px 0;
		border-color: transparent #ea580c transparent transparent;
		right: 100%;
	} */

	/* .swiper-button-next::after:hover,
	.swiper-button-prev::after:hover {
		@apply bg-green-500;
	} */